.App {
  text-align: center;

  header {
    position: relative;
    background: var(--main-dark);
    color: var(--main-light);
    padding: var(--spacing-medium);
    margin-bottom: var(--spacing-large);
    background:
      linear-gradient(to bottom, #39addb40, #2a3c5766),
      linear-gradient(135deg, #670d10, #092756);
    text-shadow: var(--drop-shadow);
    
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      --line-color: rgba(255, 255, 255, 0.07);
      --grid-size: 1.7rem;
      background-image: 
        linear-gradient(var(--line-color), transparent 1px),
        linear-gradient(to right, var(--line-color), transparent 1px);
      background-size: 100% var(--grid-size), var(--grid-size) 100%;
      background-position: center;
    }
  }


  h1 {
    font-weight: 300;
    letter-spacing: 0.2em;
    margin: 0;

    em {
      font-weight: 500;
      font-style: normal;
    }
  }

  p {
    margin: var(--spacing-small) 0 0;
  }

  svg {
    border: 1px solid var(--border-color);
    box-shadow: var(--drop-shadow);
  }
}

button {
  display: inline-flex;
  appearance: none;
  border: 1px solid var(--border-color);
  background: #FFFFFF;
  min-width: 25px;
  display: grid;
  place-items: center;
  cursor: pointer;

  &:hover:not(:disabled) {
    background: #FAFAFA;
  }

  &:disabled {
    color: var(--border-color);
    cursor: initial;
  }
}
